/*nav bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}



/*paragrafs for style*/
p:first-letter{
color :salmon;
font-size: 300%;
float: left;
}


/*Animation*/

.container {
    width: 300px;
    background:pink;
    height: 200px;
    margin: auto;
    text-align: center;
}

.container:hover{
  transform: scale(1.2);
}

.container1 {
    width: 300px;
    background:rgb(169, 226, 236);
    height: 200px;
    margin: auto;
    text-align: center;
    transition: transform 1s ease-out;
}

.container1:hover{
  transform: scale(1.2);
  background:rgb(211, 163, 226);
}

.container2 {
   width: 300px;
  background:rgb(82, 236, 185);
  height: 200px;
    margin: auto;
    text-align: center;
     transition: all 2s ease-out;
}

.trigger:hover .container2{
  transform: translate(500px, 0px);
  background:rgb(211, 163, 226);
}

/*Transition*/

.container3{
  height: 200px;
  width: 300px;
  margin: auto;
  background: gold;
  animation: frames 5s ease 3s alternate infinite ;
}

@keyframes frames{
  from{
    width: 400px;
    transform: translate(8px, 8px)
  }
  to{
    transform: translate(20px, 20px)
  }
}


/*numbers*/
.item{
  background: salmon;
  padding: 10px;
  margin: 10px;
  color: antiquewhite;
  
}

.container7 {
  height: 200px;
  display: flex;
  border: 2px solid gray;
  flex-direction: row wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  
}

.item:nth-child(2){
  font-size: 55px;
}

.item:nth-child(5){
 background: purple;
  font-size: 85px;
}